#search {
  padding: 18px;
}

#link-to-home {
  margin-bottom: 24px;
}

#link-to-home > a {
  display: flex;
  align-items: center;
}

.icon.arrow {
  width: 64px;
  margin: -8px -12px;
}

#search-books-form {
  margin-top: 24px;
  margin-bottom: 16px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

#search-books {
  max-width: 320px;
  padding: 12px 16px;
  font-size: 1rem;
  font-family: var(--regular-text);
}

#live-query {
  color: var(--accent-green);
  font-weight: 600;
  letter-spacing: 0.75px;
}
