@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Noto+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  /* colors */
  --dark: #141417;
  --primary-color-darker: #12143d;
  --primary-color: #1920b0;
  --primary-color-lighter: #7278e8;
  --white: #fff;
  --accent-red: #ff6978;
  --accent-green: #06d6a0;

  /* typography */
  --heading: 'Poppins', sans-serif;
  --sub-heading: 'Fanwood Text', serif;
  --regular-text: 'Noto Sans', sans-serif;

  /* space & size */
  --radius-xs: 3px;
  --radius-sm: 6px;

  /* padding (buttons) */
  --padding-sm: 0.2rem 0.625rem;

  /* borders */
  --border-thin: 1px solid var(--accent-green);

  /*
  small: 480px;
  medium: 768px;
  large: 1024px;
  */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0rem;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--regular-text);
  line-height: 1.6;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd,
dt,
form,
fieldset,
legend,
input,
textarea,
th,
td,
button,
a {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--heading);
}

h3 {
  font-size: 1.5rem;
}

h3,
h4,
h5,
h6 {
  font-family: var(--sub-heading);
  font-weight: 400;
}

p,
span,
li {
  font-family: var(--regular-text);
  font-size: 1rem;
}

ul,
ol {
  list-style-type: none;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  padding: 18px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  padding: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#logo {
  background-image: url('./assets/logo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  color: transparent;
  cursor: pointer;
}

/* BUTTONS */
button {
  border: none;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  color: var(--primary-color-darker);
  background-color: var(--accent-green);
  border-radius: var(--radius-xs);
  min-width: 100px;
  min-height: 48px;
  transition: 0.25s all linear;
  transition-delay: 0.3s;
}

button:hover {
  background-color: var(--accent-red);
}

button:focus {
  outline: 1px solid var(--primary-color-lighter);
  outline-offset: 2px;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  transition: none;
  border: none;
}

button:disabled:hover {
  border-radius: 2px;
}

#to-search-view:hover {
  text-decoration: none;
  background: none;
}

button.outline {
  --primary-color-darker: var(--accent-green);
  background-color: transparent;
  border: 1px solid var(--accent-green);
  transition: 0.3s all linear;
  transition-delay: 0.2s;
}

button.accent {
  background-color: var(--accent-red);
}

button.outline.accent {
  --primary-color-darker: var(--accent-red);
  background-color: transparent;
  border: 1px solid var(--accent-red);
}

button.outline:hover {
  border: 1px solid var(--accent-red);
  color: var(--accent-red);
}

/* LINKS */

a {
  color: unset;
  text-decoration: none;
  max-width: max-content;
}

/*
Thank you CSS tricks!
https://css-tricks.com/css-hover-effects-background-masks-3d/
*/
a {
  --b: 1.5px; /* the thickness of the line */
  --c: var(--accent-red);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.25s var(--_s, 0s) linear,
    background-size 0.25s calc(0.25s - var(--_s, 0s));
}

a:hover {
  --_p: 100%;
  --_s: 0.3s;
}

a.accent.green {
  color: var(--accent-green);
  filter: brightness(1.1);
  --c: var(--accent-green);
}

.upper {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -0.2px;
}

a.accent.red {
  color: var(--accent-red);
  filter: brightness(1.1);
  --c: var(--accent-red);
}

a.hover-accent:hover {
  color: var(--accent-red);
  filter: brightness(1.1);
  --c: var(--accent-red);
}

.book-card {
  margin-bottom: 32px;
  border: 0.5px solid var(--accent-green);
  border-radius: 4px;
  padding: 32px 24px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  gap: 16px;
}

#book-card-control {
  margin-top: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main {
  width: 100%;
}

.list-container {
  max-width: 360px;
  margin: 24px auto;
  margin-bottom: 96px;
}

.list-title {
  grid-column: span 2;
  margin-bottom: 8px;
  font-size: 2rem;
}

.book-image {
  width: 140px;
  height: 180px;
  border-radius: 4px;
  object-fit: cover;
}

.book-details .book-info {
  align-self: center;
  justify-self: center;
}

select {
  min-height: 48px;
  width: 140px;
  justify-self: center;
  color: var(--primary-color-lighter);
  background-color: transparent;
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid var(--primary-color-lighter);
}

input {
  border: 1.5px solid var(--primary-color-lighter);
  background-color: transparent;
  color: var(--primary-color-lighter);
}

select:active,
select:focus,
input:active,
input:focus {
  outline: 1px solid var(--accent-red);
  outline-offset: 2px;
}

@media (min-width: 768px) {
  #home,
  .layout {
    margin: auto;
    max-width: 1024px;
  }

  .book-container {
    padding: 1.25rem;
  }

  .list-container {
    max-width: unset;
  }

  .list-books {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .book-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.15fr;
    gap: 8px;
    max-width: unset;
    text-align: unset;
    margin: unset;
  }
  #book-card-control {
    grid-column: span 2;
    justify-content: space-around;
  }

  .book-image {
    align-self: center;
    justify-self: center;
  }
}

#link-to-home > a {
  display: flex;
  align-items: center;
}

.icon.arrow {
  width: 64px;
  margin: -8px -12px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

#search-books {
  margin-top: 4px;
  max-width: 320px;
  padding: 12px 16px;
  font-size: 1rem;
  font-family: var(--regular-text);
}

#live-query {
  color: var(--primary-color-lighter);
  font-weight: 600;
  letter-spacing: 0.75px;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px;
  max-width: 560px;
  margin: auto;
}

.book-details #link-to-home {
  margin-bottom: 16px;
}

#details-hero {
  display: flex;
  gap: 48px;
  align-items: flex-end;
}

.book-details-header {
  margin-bottom: -6px;
}

.book-details-header > * {
  font-family: var(--heading);
  color: var(--primary-color-lighter);
}

.book-details .book-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.book-info-label {
  color: var(--primary-color-lighter);
  font-family: var(--heading);
  font-size: 1.1rem;
}

h3.book-info-label {
  margin-top: 24px;
  margin-bottom: 8px;
}
#description-heading {
  font-size: 1.75rem;
}
